@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Poppins:wght@400;600&family=Staatliches&display=swap");
html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  background-color: #4747d1;
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
.logo a {
  color: rgb(226, 226, 226);
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 30px;
  text-decoration: none;
  margin-left: 150px;
}
.logo a:hover {
  color: #0d1d3b;
}
.menu {
  display: inline-flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  margin-right: 80px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-right: 5px;
}
.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px 15px;
  font-size: 17px;
  transition: 0.4s;
}

.nav-links a:hover {
  background: #fff;
  color: #4747d1;
  border-radius: 25px;
  animation: 1s;
}
.user {
  display: inline-flex;
  align-items: center;
}
.userPic {
  height: 3em;
  border-radius: 50px;
  cursor: pointer;
}
.username {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 3px;
  cursor: pointer;
}

.burger {
  display: none;
}
/* nav end */

.salam {
  /* width: 70%; */
  height: 23em;
  color: rgb(255, 255, 255);
  font-family: "Baloo Bhaijaan 2", cursive;
  text-align: center;
  padding-top: 2%;
  margin-top: 4em;
  /* background: rgba(255, 255, 255, 0.5); */
}

.salam::before {
  content: " ";
  z-index: -1;
  margin-top: -3%;
  display: block;
  position: absolute;
  height: 25em;
  width: 100%;
  opacity: 100%;
  background-image: url(images/bg_welcome.jpg);
  background-size: cover;
}

.salam h1 {
  font-size: 150px;
}

.salam h2 {
  margin-top: -58px;
  font-size: 30px;
}

/* Profile Start */

#profile {
  height: 100vh;
  background-color: #0d1d3b;
  text-align: center;
  color: white;
  padding-top: 20px;
}

.container-profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.container-profile img {
  display: absolute;
  height: 20em;
  border-radius: 150px;
}

.container-profile .info {
  font-size: 40px;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  text-align: center;
  color: white;
}

.container-profile .info blockquote {
  font-size: 20px;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  font-style: italic;
  text-transform: uppercase;
}
/* hiasan */
#profile .hiasan,
#profile .hiasan1 {
  height: 100px;
  width: 10px;
  background-color: whitesmoke;
  opacity: 0.5;
}
#profile .hiasan:hover,
#profile .hiasan1:hover {
  opacity: 1;
}

#profile .hiasan {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#profile .hiasan1 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* hiasan end */
/* Profile end */

/* Skills start */
#skills {
  text-align: center;
  padding: 2em 0 4em 0;
  color: #4747d1;
  background-color: #4747d1;
  background-image: url(images/4855443.jpg);
  background-size: cover;
  max-height: 100vh;
}

/* Judul SubBAB */

.judul {
  font-family: "Staatliches", sans-serif;
  letter-spacing: 3px;
  font-size: 50px;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
}

/* Judul SubBAB End */
#skills .logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 100px;
}
.logos h2 {
  font-family: sans-serif;
}
.office,
.code {
  display: inline-block;
}

.office img,
.code img {
  margin: 3px;
  border-radius: 10px;
}

/* skills end */

/* Project start*/
/* My css */
#project {
  height: 100vh;
  background-color: #0d1d3b;
  color: white;
}
.project-container {
  display: grid;
  max-width: 100%;
  grid-auto-flow: column;
  align-items: center;
  height: 70vh;
  padding: 0 10px;
  overflow: auto;
}

.project-container::-webkit-scrollbar {
  height: 8px;
}
.project-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
}

.project-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.project-count {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: white;
  border-radius: 4px;
  color: black;
  width: 120px;
  max-height: 60px;
  padding: 5px 10px;
}
.project-count span {
  padding: 9px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.num {
  font-size: 15px;
  pointer-events: none;
  border-right: 2px solid rgba(90, 90, 90, 0.2);
  border-left: 2px solid rgba(90, 90, 90, 0.2);
}
.project-card {
  display: inline-block;
  background-color: white;
  height: 350px;
  width: 300px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10 15px 5px 10px black;
  margin: 0 20px;
}
.img-thumb {
  width: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}
.project-name a {
  text-decoration: none;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  color: grey;
  transition: 0.3s;
}
.project-name a:hover {
  color: black;
}
.project-desc {
  height: 125px;
  padding: 10px 20px;
  overflow: hidden;
  font-size: 15px;
  color: grey;
}

/* Project end */

/* advice-box start */

#advice {
  background: linear-gradient(#0d1d3b, #233c6b, #4747d1);
  padding-bottom: 20px;
  color: white;
}
.nama,
.pesan {
  width: 100%;
  margin: 5px 0;
}

.nama,
.pesan {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.nama .label {
  margin: 8px 0 0 16px;
}

.pesan .label {
  margin-top: 7px;
}
.textArea {
  margin: 10px;
  width: 470px;
  padding: 10px;
  border: 0;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.7s;
}
.pesan .textArea {
  height: 100px;
}
.textArea:hover {
  background-color: rgba(255, 255, 255, 1);
}

.button {
  display: block;
  margin: 0 62%;
  cursor: pointer;
  width: 100px;
  height: 30px;
  padding: 5px;
  border: 0;
  border-radius: 8px;
  transition: 0.4s;
}
.button:hover {
  background-color: #0d1d3b;
  color: white;
  box-shadow: 0 15px 8px -13px white;
}
/* advice-box End */

footer {
  display: flex;
  justify-content: end;
  background-color: #4747d1;
}

footer h3 {
  padding: 20px 0 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: white;
  letter-spacing: 1px;
}
/* responsive CSS */

/* Mobile */
@media only screen and (max-width: 600px) {
  /* Navbar Start */
  nav {
    position: fixed;
    background: #4747d1;
    z-index: 1;
  }
  .menu {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  .menuWidth {
    width: 200px;
  }
  .nav-links {
    display: block;
    width: 100%;
    height: auto;
  }
  .nav-links a {
    display: block;
    height: 50px;
    text-align: center;
    padding: 10px;
    color: #4747d1;
  }
  .userPic {
    margin: 5px;
  }
  .burger {
    display: flex;
    width: 50px;
    height: auto;
    align-items: flex-end;
    flex-direction: column;
  }

  .bar1,
  .bar3 {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    margin: 3px 0;
    transition: 0.4s;
  }
  .bar2 {
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    margin: 3px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /* Navbar End */
  /* Salam Start */
  .salam {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
  }
  .salam h1 {
    font-size: 60px;
  }
  .salam h2 {
    font-size: 40px;
  }
  /* Salam end */
  /* Profile Start */
  .judul {
    font-size: 30px;
  }
  #profile {
    height: 70vh;
  }
  .container-profile {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
  }
  .container-profile img {
    height: 20vh;
    margin-bottom: 20px;
  }
  .container-profile .info {
    margin-top: 10px;
    font-size: 20px;
  }
  .container-profile .info blockquote {
    font-size: 15px;
  }
  .hiasan,
  .hiasan1 {
    display: none;
  }
  /* Profile End */
  /* Skils Start */
  #skills .logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logos img {
    height: 65px;
  }
  .logos .code {
    margin-top: 30px;
  }
  .logos h2 {
    font-family: sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
  }
  /* Skils End  */
  /* Project Start */

  #project {
    height: 85vh;
  }
  .project-container {
    height: 55vh;
  }
  .project-card {
    height: 250px;
    width: 200px;
  }
  .project-name {
    font-size: 15px;
  }
  .project-desc {
    height: 95px;
    overflow: hidden;
    font-size: 10px;
  }

  /* Project end */
  /* advice start */
  .textArea {
    width: 250px;
  }

  /* advice end */
  footer h1 {
    margin-right: 15px;
  }
}

/* End responsive CSS */
